/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
.logo {
    float: left;
}

.header-right, .header-right .right{ float: right }
.header-right .right span{ margin-left: 20px }

body {
  margin: 0;
}

.btn-class-1 {
    padding: 7px 10px;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}
.btn-class-1 {
    background-color: white;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}

.sub-btn {
    padding: 8px 30px;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.form-left {
    margin-right:10px;
    margin-left: auto;
}

.hide-class {
    display: None;
}

.display-full {
    margin-top: 20px;
}

.show-class {
    display: block;
}

.btn-class {
    width: 200px;
    height: 70px;
    margin-left: 200px;
    margin-top: 150px;
    }

/*
 * Sidebar
 */

 .top-row {

 }

#container {
  max-width: 100%;
  height: 500px;
  margin: 1em auto;
}

.main-dash {
    width: 72%;
    margin-left: 35px;
}

.bg-color-white {
    background-color: transparent !important;
}

.sidebar {
    position: fixed !important;
    right: 5px;
    top: 0px;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  padding-top: 80px;
width: 25%;
background-color: #343a40;
right: 0px;
min-height: 100vh !important;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}