<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hackathon</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shCore.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shThemeDefault.css' %}"/>
<script type="text/javascript" src="{% static 'js/dc.js' %}"></script>
<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


</head>
<body>
<script>

</script>
<header>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="logo">
          <a class="navbar-brand" href="index">
          <img style="" src="{% static 'images/logo.png' %}" width="120px" alt="sigtuple">
          <span class="navbar-toggler-icon"></span>
        </a>
            </div>

          <a class="navbar-brand" id="k-chart" href="k-chart">Knowledge Chart</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <form class="form-inline mt-2 mt-md-0 form-left" action="c-chart" enctype="multipart/form-data" method="post">{% csrf_token %}
              <span class="btn btn-default btn-file btn-class-1"><input type="file" id="chart" name="report" accept=".csv" /></span>
              <input type="submit" class="btn btn-success sub-btn" value="Show Custom Charts" id="c-chart">
          </form>

          <form class="form-inline mt-2 mt-md-0 form-left" action="patient" enctype="multipart/form-data" method="get">
              <span><input type="text" id="sample_id" name="sample_id" placeholder="search.." class="btn-class-1"/></span>
              <input type="submit" class="btn btn-success sub-btn" value="Search">
          </form>

          <form class="form-inline mt-2 mt-md-0 form-left" action="report" enctype="multipart/form-data" method="post">{% csrf_token %}
              <span class="btn btn-default btn-file btn-class-1"><input type="file" id="report" name="report" accept=".csv" /></span>
              <input type="submit" class="btn btn-success sub-btn" value="Upload File">
          </form>
      </nav>
    </header>
<div style="margin-top: 30px; position: 'relative';" id="frame">
        <iframe height="1000px" frameborder="0" width="100%" src="http://drishtigpu00.southcentralus.cloudapp.azure.com:6007/knowledge-charts/"></iframe>
    </div>

</body>
</html>